@tailwind base;
@tailwind components;
@tailwind utilities;

/* Specjalne style dla wydruku kodu QR */
@media print {
  body * {
    visibility: hidden;
  }
  #print-section, #print-section * {
    visibility: visible;
  }
  #print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}